{% extends "base/base.html" %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/config1.css' %}">{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1 class="text-center">Boleta de Compra</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in carrito.items %}
                    <tr>
                        <td>{{ value.nombre }}</td>
                        <td>${{ value.precio|floatformat:2 }}</td>
                        <td>{{ value.cantidad }}</td>
                        <td>${{ value.subtotal|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td>${{ total }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a href="{% url 'limpiar_carrito' %}" class="btn btn-outline-warning">Limpiar Carrito</a>
        </div>
    </div>
</body>
{% endblock %}
