{% extends "base/base.html" %}
{% load static %}

{% block title %}Tienda{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/config1.css' %}">
<style>
</style>
{% endblock %}

{% block content %}
<main class="container">
    <h2>Tienda</h2>

    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">Precio: ${{ producto.precio }}</p>
                    <a href="{% url 'agregar_producto' id=producto.idProd %}" class="badge btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div>
        {% include "carrito.html" %}
    </div>
</main>
{% endblock %}
