body {
    background-image: url('../img/Fondo.jpg');
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    text-align: right;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    width: 75%;
    margin: 10px auto;
    display: block;
}

.btn-success:hover {
    background-color: #218838;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #aaa;
    font-size: 1.5em;
}

.close-button:hover {
    color: #000;
}
